    <div class="page-show-title"> BRANCH DETAILS</div>
    <div class="page-show-heading"> Branch:   <%=branch.name %></div>
    <div class ="page-show"> Customer:<a class="page-show-info"> <%= customer.name %></a> </div>
    <div class ="page-show"> Address:<a class="page-show-info"> <%= branch.address %></a> </div>
    <div class ="page-show">Zip Code:<a class="page-show-info"> <%= branch.zipCode %></a></div>
    <div class="page-show">Point Of Contact:<a class="page-show-info"> <%= branch.pointOfContact %></a></div>
    <br>
<div class="btn-row">
<a class="btn btn-primary" href="/branches/<%= branch.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/branches/${branch.id}` }) %>
</div>
<br>
<% if (accountsOfBranch.length > 0) { %>
    <div class="page-show-heading">Accounts at this Branch</div>
    <br>
    <% accountsOfBranch.forEach(account => { %>
        <div >
        <a class="btn btn-primary" href="/accounts/<%=account.id%>">
          <%= account.name %>
  </a>
       </div>
       <br> 
       <br>
  <% })%> 
  <% } %>

  